
.boxMenu{
    height: 400px;
    border: 2px solid black;
    border-radius: 10px;

}

.img-strike{
    position: absolute;
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
